Section 3_+5VSB
	## Possible values: Yes/No
	Enable_All_Event_Messages                                                   Yes
	## Possible values: Yes/No
	Enable_Scanning_On_This_Sensor                                              Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Critical_Going_Low                         No
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Critical_Going_Low                             Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Recoverable_Going_Low                      Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Critical_Going_High                        No
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Critical_Going_High                            Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Recoverable_Going_High                     Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Critical_Going_Low                       No
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Critical_Going_Low                           Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Recoverable_Going_Low                    Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Critical_Going_High                      No
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Critical_Going_High                          Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Recoverable_Going_High                   Yes
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Critical_Threshold                                                    4.710000
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Non_Recoverable_Threshold                                             4.230000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Critical_Threshold                                                    5.550000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Non_Recoverable_Threshold                                             5.610000
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Positive_Going_Threshold_Hysteresis                                         None
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Negative_Going_Threshold_Hysteresis                                         None
EndSection
Section 4_+3VSB
	## Possible values: Yes/No
	Enable_All_Event_Messages                                                   Yes
	## Possible values: Yes/No
	Enable_Scanning_On_This_Sensor                                              Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Critical_Going_Low                         No
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Critical_Going_Low                             Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Recoverable_Going_Low                      Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Critical_Going_High                        No
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Critical_Going_High                            Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Recoverable_Going_High                     Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Critical_Going_Low                       No
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Critical_Going_Low                           Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Recoverable_Going_Low                    Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Critical_Going_High                      No
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Critical_Going_High                          Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Recoverable_Going_High                   Yes
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Critical_Threshold                                                    2.820000
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Non_Recoverable_Threshold                                             2.780000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Critical_Threshold                                                    3.660000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Non_Recoverable_Threshold                                             3.680000
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Positive_Going_Threshold_Hysteresis                                         None
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Negative_Going_Threshold_Hysteresis                                         None
EndSection
Section 5_Vcore
	## Possible values: Yes/No
	Enable_All_Event_Messages                                                   Yes
	## Possible values: Yes/No
	Enable_Scanning_On_This_Sensor                                              Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Critical_Going_Low                         Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Critical_Going_Low                             Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Recoverable_Going_Low                      Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Critical_Going_High                        Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Critical_Going_High                            Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Recoverable_Going_High                     Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Critical_Going_Low                       Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Critical_Going_Low                           Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Recoverable_Going_Low                    Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Critical_Going_High                      Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Critical_Going_High                          Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Recoverable_Going_High                   Yes
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Non_Critical_Threshold                                                0.600000
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Critical_Threshold                                                    0.560000
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Non_Recoverable_Threshold                                             0.540000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Non_Critical_Threshold                                                1.490000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Critical_Threshold                                                    1.560000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Non_Recoverable_Threshold                                             1.640000
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Positive_Going_Threshold_Hysteresis                                         None
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Negative_Going_Threshold_Hysteresis                                         None
EndSection
Section 6_VCCM
	## Possible values: Yes/No
	Enable_All_Event_Messages                                                   Yes
	## Possible values: Yes/No
	Enable_Scanning_On_This_Sensor                                              Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Critical_Going_Low                         No
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Critical_Going_Low                             Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Recoverable_Going_Low                      Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Critical_Going_High                        No
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Critical_Going_High                            Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Recoverable_Going_High                     Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Critical_Going_Low                       No
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Critical_Going_Low                           Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Recoverable_Going_Low                    Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Critical_Going_High                      No
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Critical_Going_High                          Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Recoverable_Going_High                   Yes
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Critical_Threshold                                                    1.120000
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Non_Recoverable_Threshold                                             1.090000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Critical_Threshold                                                    1.720000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Non_Recoverable_Threshold                                             1.750000
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Positive_Going_Threshold_Hysteresis                                         None
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Negative_Going_Threshold_Hysteresis                                         None
EndSection
Section 7_+1.1V
	## Possible values: Yes/No
	Enable_All_Event_Messages                                                   Yes
	## Possible values: Yes/No
	Enable_Scanning_On_This_Sensor                                              Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Critical_Going_Low                         Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Critical_Going_Low                             Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Recoverable_Going_Low                      Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Critical_Going_High                        Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Critical_Going_High                            Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Recoverable_Going_High                     Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Critical_Going_Low                       Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Critical_Going_Low                           Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Recoverable_Going_Low                    Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Critical_Going_High                      Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Critical_Going_High                          Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Recoverable_Going_High                   Yes
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Non_Critical_Threshold                                                0.940000
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Critical_Threshold                                                    0.890000
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Non_Recoverable_Threshold                                             0.850000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Non_Critical_Threshold                                                1.150000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Critical_Threshold                                                    1.210000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Non_Recoverable_Threshold                                             1.270000
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Positive_Going_Threshold_Hysteresis                                         None
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Negative_Going_Threshold_Hysteresis                                         None
EndSection
Section 8_+1.0V
	## Possible values: Yes/No
	Enable_All_Event_Messages                                                   Yes
	## Possible values: Yes/No
	Enable_Scanning_On_This_Sensor                                              Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Critical_Going_Low                         Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Critical_Going_Low                             Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Recoverable_Going_Low                      Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Critical_Going_High                        Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Critical_Going_High                            Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Recoverable_Going_High                     Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Critical_Going_Low                       Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Critical_Going_Low                           Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Recoverable_Going_Low                    Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Critical_Going_High                      Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Critical_Going_High                          Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Recoverable_Going_High                   Yes
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Non_Critical_Threshold                                                0.940000
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Critical_Threshold                                                    0.890000
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Non_Recoverable_Threshold                                             0.850000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Non_Critical_Threshold                                                1.150000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Critical_Threshold                                                    1.210000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Non_Recoverable_Threshold                                             1.270000
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Positive_Going_Threshold_Hysteresis                                         None
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Negative_Going_Threshold_Hysteresis                                         None
EndSection
Section 9_BAT
	## Possible values: Yes/No
	Enable_All_Event_Messages                                                   Yes
	## Possible values: Yes/No
	Enable_Scanning_On_This_Sensor                                              Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Critical_Going_Low                         No
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Critical_Going_Low                             Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Recoverable_Going_Low                      Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Critical_Going_High                        No
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Critical_Going_High                            Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Recoverable_Going_High                     Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Critical_Going_Low                       No
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Critical_Going_Low                           Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Recoverable_Going_Low                    Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Critical_Going_High                      No
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Critical_Going_High                          Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Recoverable_Going_High                   Yes
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Critical_Threshold                                                    2.500000
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Non_Recoverable_Threshold                                             2.380000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Critical_Threshold                                                    3.580000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Non_Recoverable_Threshold                                             3.680000
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Positive_Going_Threshold_Hysteresis                                         None
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Negative_Going_Threshold_Hysteresis                                         None
EndSection
Section 10_+3V
	## Possible values: Yes/No
	Enable_All_Event_Messages                                                   Yes
	## Possible values: Yes/No
	Enable_Scanning_On_This_Sensor                                              Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Critical_Going_Low                         No
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Critical_Going_Low                             Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Recoverable_Going_Low                      Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Critical_Going_High                        No
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Critical_Going_High                            Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Recoverable_Going_High                     Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Critical_Going_Low                       No
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Critical_Going_Low                           Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Recoverable_Going_Low                    Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Critical_Going_High                      No
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Critical_Going_High                          Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Recoverable_Going_High                   Yes
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Critical_Threshold                                                    2.820000
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Non_Recoverable_Threshold                                             2.780000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Critical_Threshold                                                    3.660000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Non_Recoverable_Threshold                                             3.680000
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Positive_Going_Threshold_Hysteresis                                         None
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Negative_Going_Threshold_Hysteresis                                         None
EndSection
Section 11_+5V
	## Possible values: Yes/No
	Enable_All_Event_Messages                                                   Yes
	## Possible values: Yes/No
	Enable_Scanning_On_This_Sensor                                              Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Critical_Going_Low                         No
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Critical_Going_Low                             Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Recoverable_Going_Low                      Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Critical_Going_High                        No
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Critical_Going_High                            Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Recoverable_Going_High                     Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Critical_Going_Low                       No
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Critical_Going_Low                           Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Recoverable_Going_Low                    Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Critical_Going_High                      No
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Critical_Going_High                          Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Recoverable_Going_High                   Yes
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Critical_Threshold                                                    4.710000
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Non_Recoverable_Threshold                                             4.230000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Critical_Threshold                                                    5.550000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Non_Recoverable_Threshold                                             5.610000
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Positive_Going_Threshold_Hysteresis                                         None
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Negative_Going_Threshold_Hysteresis                                         None
EndSection
Section 12_+12V
	## Possible values: Yes/No
	Enable_All_Event_Messages                                                   Yes
	## Possible values: Yes/No
	Enable_Scanning_On_This_Sensor                                              Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Critical_Going_Low                         No
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Critical_Going_Low                             Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Recoverable_Going_Low                      Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Critical_Going_High                        No
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Critical_Going_High                            Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Recoverable_Going_High                     Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Critical_Going_Low                       No
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Critical_Going_Low                           Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Recoverable_Going_Low                    Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Critical_Going_High                      No
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Critical_Going_High                          Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Recoverable_Going_High                   Yes
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Critical_Threshold                                                    10.300000
	## Give valid input for sensor type = Voltage; units = Volts
	Lower_Non_Recoverable_Threshold                                             10.100000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Critical_Threshold                                                    13.300000
	## Give valid input for sensor type = Voltage; units = Volts
	Upper_Non_Recoverable_Threshold                                             13.400000
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Positive_Going_Threshold_Hysteresis                                         None
	## Give valid input for sensor type = Voltage; units = Volts; 'None' to not use hysteresis
	Negative_Going_Threshold_Hysteresis                                         None
EndSection
Section 13_CPU_FAN1
	## Possible values: Yes/No
	Enable_All_Event_Messages                                                   Yes
	## Possible values: Yes/No
	Enable_Scanning_On_This_Sensor                                              Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Critical_Going_Low                         Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Critical_Going_Low                       Yes
	## Give valid input for sensor type = Fan; units = RPM
	Lower_Non_Critical_Threshold                                                100.000000
	## Give valid input for sensor type = Fan; units = RPM; 'None' to not use hysteresis
	Positive_Going_Threshold_Hysteresis                                         None
	## Give valid input for sensor type = Fan; units = RPM; 'None' to not use hysteresis
	Negative_Going_Threshold_Hysteresis                                         None
EndSection
Section 14_REAR_FAN1
	## Possible values: Yes/No
	Enable_All_Event_Messages                                                   Yes
	## Possible values: Yes/No
	Enable_Scanning_On_This_Sensor                                              Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Critical_Going_Low                         Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Critical_Going_Low                       Yes
	## Give valid input for sensor type = Fan; units = RPM
	Lower_Non_Critical_Threshold                                                100.000000
	## Give valid input for sensor type = Fan; units = RPM; 'None' to not use hysteresis
	Positive_Going_Threshold_Hysteresis                                         None
	## Give valid input for sensor type = Fan; units = RPM; 'None' to not use hysteresis
	Negative_Going_Threshold_Hysteresis                                         None
EndSection
Section 15_FRNT_FAN1
	## Possible values: Yes/No
	Enable_All_Event_Messages                                                   Yes
	## Possible values: Yes/No
	Enable_Scanning_On_This_Sensor                                              Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Critical_Going_Low                         Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Critical_Going_Low                       Yes
	## Give valid input for sensor type = Fan; units = RPM
	Lower_Non_Critical_Threshold                                                100.000000
	## Give valid input for sensor type = Fan; units = RPM; 'None' to not use hysteresis
	Positive_Going_Threshold_Hysteresis                                         None
	## Give valid input for sensor type = Fan; units = RPM; 'None' to not use hysteresis
	Negative_Going_Threshold_Hysteresis                                         None
EndSection
Section 16_FRNT_FAN2
	## Possible values: Yes/No
	Enable_All_Event_Messages                                                   Yes
	## Possible values: Yes/No
	Enable_Scanning_On_This_Sensor                                              Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Critical_Going_Low                         Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Critical_Going_Low                       Yes
	## Give valid input for sensor type = Fan; units = RPM
	Lower_Non_Critical_Threshold                                                100.000000
	## Give valid input for sensor type = Fan; units = RPM; 'None' to not use hysteresis
	Positive_Going_Threshold_Hysteresis                                         None
	## Give valid input for sensor type = Fan; units = RPM; 'None' to not use hysteresis
	Negative_Going_Threshold_Hysteresis                                         None
EndSection
Section 17_REAR_FAN2
	## Possible values: Yes/No
	Enable_All_Event_Messages                                                   Yes
	## Possible values: Yes/No
	Enable_Scanning_On_This_Sensor                                              Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Critical_Going_Low                         Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Critical_Going_Low                       Yes
	## Give valid input for sensor type = Fan; units = RPM
	Lower_Non_Critical_Threshold                                                100.000000
	## Give valid input for sensor type = Fan; units = RPM; 'None' to not use hysteresis
	Positive_Going_Threshold_Hysteresis                                         None
	## Give valid input for sensor type = Fan; units = RPM; 'None' to not use hysteresis
	Negative_Going_Threshold_Hysteresis                                         None
EndSection
Section 18_CPU_FAN2
	## Possible values: Yes/No
	Enable_All_Event_Messages                                                   Yes
	## Possible values: Yes/No
	Enable_Scanning_On_This_Sensor                                              Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Lower_Non_Critical_Going_Low                         Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Lower_Non_Critical_Going_Low                       Yes
	## Give valid input for sensor type = Fan; units = RPM
	Lower_Non_Critical_Threshold                                                100.000000
	## Give valid input for sensor type = Fan; units = RPM; 'None' to not use hysteresis
	Positive_Going_Threshold_Hysteresis                                         None
	## Give valid input for sensor type = Fan; units = RPM; 'None' to not use hysteresis
	Negative_Going_Threshold_Hysteresis                                         None
EndSection
Section 19_MB_Temperature
	## Possible values: Yes/No
	Enable_All_Event_Messages                                                   Yes
	## Possible values: Yes/No
	Enable_Scanning_On_This_Sensor                                              Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Critical_Going_High                        No
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Critical_Going_High                      No
	## Give valid input for sensor type = Temperature; units = degrees C; 'None' to not use hysteresis
	Positive_Going_Threshold_Hysteresis                                         None
	## Give valid input for sensor type = Temperature; units = degrees C; 'None' to not use hysteresis
	Negative_Going_Threshold_Hysteresis                                         None
EndSection
Section 20_CPU_Temperature
	## Possible values: Yes/No
	Enable_All_Event_Messages                                                   Yes
	## Possible values: Yes/No
	Enable_Scanning_On_This_Sensor                                              Yes
	## Possible values: Yes/No
	Enable_Assertion_Event_Upper_Non_Critical_Going_High                        Yes
	## Possible values: Yes/No
	Enable_Deassertion_Event_Upper_Non_Critical_Going_High                      Yes
	## Give valid input for sensor type = Temperature; units = degrees C
	Upper_Non_Critical_Threshold                                                80.000000
	## Give valid input for sensor type = Temperature; units = degrees C; 'None' to not use hysteresis
	Positive_Going_Threshold_Hysteresis                                         None
	## Give valid input for sensor type = Temperature; units = degrees C; 'None' to not use hysteresis
	Negative_Going_Threshold_Hysteresis                                         None
EndSection
